@import '../../styles/mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One:ital@0;1&display=swap');

.name {
  @include text();
  @include flex($justify: center, $align: center);
  height: 100%;
}

.profilePicture {
  @include size(2.5rem, 2.5rem);
  border-radius: 50%;
}

.navbar,
.navbarMobile {
  position: sticky;
  z-index: 3;
  top: 0;
}

.navbarMobile {
  display: none;
}

.activeLink {
  font-weight: 600;
}

.navbar {
  @include flex($justify: space-between, $align: center, $gap: 0);
  @include container($backgroundColor: $mainWhite, $border: none, $padding: 0.2rem 3rem);
  backdrop-filter: blur(9px);
  height: 5rem;

  .logo {
    @include flex($justify: center, $align: center, $gap: 0.5rem);
    text-decoration: none !important;

    img {
      height: 2rem;
    }

    span {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Chau Philomene One', sans-serif;
      text-decoration: none !important;
      color: $orange;
      outline: none;
    }
  }

  .links {
    @include flex($justify: center, $align: center, $gap: 1.5rem);

    .cart {
      @include flex($justify: center, $align: center, $gap: 0.5rem);
      position: relative;
      cursor: pointer;

      :first-child {
        @include size(1.25rem, 1.25rem);
      }

      .cartCount {
        @include flex($justify: center, $align: center);
        @include size(1.5rem, 1.5rem);
        position: absolute;
        top: -1.0rem;
        right: -1.15rem;
        border-radius: 50%;
        background: $orange;
        color: $white;
      }
    }

    .dropdown {
      position: relative;

      .dropdownText {
        @include flex($justify: center, $align: center, $gap: 0.5rem);
        user-select: none;
        cursor: pointer;

        .arrow {
          width: 0.5rem;
          object-fit: contain;
        }
      }

      .dropdownContent {
        @include container($backgroundColor: $white, $border: $simpleBorder, $borderRadius: $smallRadius, $borderColor: $orange, $padding: 0);
        display: none;
        position: absolute;
        width: 100%;
        min-width: fit-content;
        z-index: 1;

        button {
          @include flex($justify: flex-start, $align: center, $gap: 0.5rem);
          @include text();
          padding: 0.75rem 0.5rem;
          align-self: stretch;
          border: none;
          background: none;
          cursor: pointer;

          &:hover {
            background: $hoverOrange;
          }

          &:nth-child(1) {
            border-radius: 0.5rem 0.5rem 0 0;
          }

          &:nth-last-child(1) {
            border-radius: 0 0 0.5rem 0.5rem;
          }
        }

        hr {
          width: 100%;
          margin: 0;
          border: none;
          border-bottom: 1px solid $lightGray;
        }
      }

      &:hover {
        .name {
          text-decoration: underline;
        }

        .dropdownContent {
          @include flex($direction: column, $justify: center, $align: flex-start, $gap: 0);
        }
      }
    }
  }
}